

// *================================================================
//? Transitions
// *================================================================

@mixin defaultTransition {
  transition: all 0.3s linear;
}

@mixin fastTransition {
  transition: all 0.1s ease-in-out;
}

@mixin slowTransition {
  transition: all 0.5s linear;
}

// *================================================================
//? Hovers
// *================================================================

//? Mobile disabled hover
@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

// *================================================================
//? Media queries
// *================================================================


// 1699-1200
@mixin media-large {
  @media screen and (max-width: $lg) {
    @content;
  }
}

// 1200-992
@mixin media-medium {
  @media screen and (max-width: $md) {
    @content;
  }
}

// 991-768
@mixin media-small {
  @media screen and (max-width: $sm) {
    @content;
  }
}

// 767-0 100%
@mixin media-extra-small {
  @media screen and (max-width: $xs) {
    @content;
  }
}

// min width
@mixin media-min {
  @media screen and (max-width: $xxs) {
    @content;
  }
}
