// $icomoon-font-family: 'iconfont' !default;
// $icomoon-font-path: 'app/assets/fonts/iconfont/' !default;

$icon-arrow-down: unquote('"\\e900"');
$icon-arrow-left: unquote('"\\e901"');
$icon-arrow-right: unquote('"\\e902"');
$icon-arrow-up: unquote('"\\e903"');
$icon-bag: unquote('"\\e904"');
$icon-check: unquote('"\\e905"');
$icon-close: unquote('"\\e906"');
$icon-file: unquote('"\\e907"');
$icon-loader: unquote('"\\e908"');
$icon-minus: unquote('"\\e909"');
$icon-profile: unquote('"\\e90a"');
$icon-search: unquote('"\\e90b"');
